<div class="card my-3">
  <div class="card-body">
    <form [formGroup]="addPostForm" (submit)="onSubmit()">
      <div class="form-group row">
        <div class="col-10">
          <div class="form-group">
            <textarea class="form-control" formControlName="body" name="body" placeholder="Napisz post..." rows="3"></textarea>
          </div>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Dodaj</button>
        </div>
      </div>
      <div class="row col-12">
        <small *ngIf="body.invalid && body.dirty" class="text-danger">
          <span *ngIf="body.errors.required">Aby dodać komentarz, wpisz tekst</span>
          <span *ngIf="body.errors.minlength">Za mało znaków!</span>
        </small>
      </div>
    </form>
  </div>
</div>
